# Main Django stuffs
Django==1.10.5
django-environ==0.4.1
django-extensions==1.7.5
django-annoying==0.10.3

# Forms
django-braces==1.10.0
django-crispy-forms==1.6.1

# Models
django-model-utils==2.6
django-reversion==2.0.8

# Users
django-allauth==0.30.0

# Websockets
channels==1.0.3

# General utilities
arrow==0.10.0
pytz==2016.10
